* { 
    padding: 0;
    margin: 0;
}

body{
    font-family: Arial;
    color:white;
    background-color: rgb(44, 44, 44);
}

.mainContent{
    width: 800px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.editorHeader{
    background-color: rgb(160, 58, 190);
    padding: 8px;
}

.editorHeader .btn{
    border: none;
    outline: none;
    background-color: transparent;
    margin-right: 15px;
    cursor: pointer;
}

.btn:hover{
    color:rgba(255, 255, 255)
}

.content{
    min-height: 300px;
    border: 1px solid rgb(160, 58, 190);
    border-top: 0px;
    padding: 20px;
    outline: none;
    box-shadow: 0 10px 15px rgba(255, 7, 234, 0.19);
}

.topText{
    width: 300px;
    position:fixed;
    top: -20%;
}

span{
    font: 40px impact;
}

h1{
    font: 15px Arial;
    font-weight: bold;
    color:rgb(173, 93, 197);
}

h2{
    font: 10px Arial;
    color: rgb(109, 109, 109);
    text-align: center;
    padding-top: 15px;
}